:root {
	--base-font-size: 100%;
	--base-line-height: 1.5;
	--base-spacing: 1.5rem;
	--base-font-family: ui-sans-serif, system-ui, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
		"Noto Color Emoji"; /* Borrowed from https://tailwindcss.com/docs/font-family */

	/* colours */
	--amaranth: #e63946;
	--peppermint: #a8dadc;
	--aqua-island: #457b9d;
	--wedgewood: #1d3557;
	--cello: #0d1321;
	--text-colour: #000;
}

body {
	font-size: var(--base-font-size);
	font-family: var(--base-font-family), sans-serif;
	line-height: var(--base-line-height);
	background: #e8e8e8;
	margin: 0;
	padding: 0;
	color: var(--text-colour);
}

.banner {
	padding: 0.5rem 1rem;
}

@media screen and (min-width: 55em) {
	.banner {
		display: flex;
		justify-content: space-between;
		gap: 1rem;
	}
	main {
		display: flex;
		gap: 1rem;
	}
	.activities {
		position: sticky;
		z-index: 1;
		inset: 0;
	}
}

.activities-container {
	transition: 0.3s ease-in-out;
}
