.activity {
	--activity-title-minimum-font-size: 2.5em;
	--activity-title-maximum-font-size: 3.5em;
	--activity-title-font-weight: bold;
}

.activity-name {
	font-size: var(--step-2);
	font-weight: var(--activity-title-font-weight);
}

.activity-image {
	width: 100%;
	height: auto;
}
