.activity {
	--activity-title-minimum-font-size: 2.5em;
	--activity-title-maximum-font-size: 3.5em;
	--activity-title-font-weight: bold;
	background-color: rgba(133, 133, 133, 0.16);
	padding: 1rem 3rem;
}

.activity-name {
	font-size: var(--step-2);
	font-weight: var(--activity-title-font-weight);
	margin-block-start: 0;
}

.activity-image {
	width: 100%;
	height: auto;
}

@media screen and (width >= 55rem) {
	.activity-actions {
		position: fixed;
		z-index: 1;
		inset-block-end: 1rem;
		inset-inline-end: 1rem;
	}
}

.activity-actions {
	padding: 1rem 2rem;
}

.activity-action-link {
	white-space: nowrap;
	color: #fff;
	font-size: 1.4em;
	border: 0.1em solid hsl(0deg 54% 15% / 50%);
	background-color: hsl(0deg 48% 38% / 87%);
	border-radius: 1em;
	padding: 0.5em 1em;
	aspect-ratio: 1;
	text-underline-offset: 0.4em;
}
