.activities {
	list-style: none;
	padding: 0;
	margin: 0;
	background: rgb(205 205 205 / 37%);
}

.activity-link {
	font-size: var(--step-0);
	padding: 1.2em 1em;
	display: block;
}

.activity-link.active {
	font-weight: bold;
}

@media screen and (min-width: 25rem) {
	.activity-link {
		white-space: nowrap;
	}
}
